/* .Navbar {
  display: flex;
  margin: auto;
} */

.ButtonBar {
  /* list-style-type: none;
  display: inline;
  margin: 50px; */
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: rgb(134, 131, 131);
  overflow-x: hidden;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 0px;
}

.TopBar {
  background-color: rgb(134, 131, 131);
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  z-index: 1;
  top: 0px;
  margin: -10px -10px 0px -10px;
}

.TopBar .SearchBar {
  float: right;
  margin-right: 125px;
}

.TopBar input[type="text"] {
  font-size: 17px;
}

.TopBar button {
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(168, 168, 168);
  border-top: none;
}

.TopBar i {
  cursor: pointer;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 20px;
}

.ButtonBar span {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 25px;
}

.ButtonBar span a {
  padding: 40px 0px 0px 8px;
  font-size: 20px;
}

.ButtonBar span img {
  padding: 2px 0px 0px 4.5px;
}

ul.ButtonBar {
  list-style-type: none;
}

.ButtonBar li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  border: 1px solid black;
  border-bottom: none;
  font-size: 22px;
  color: #0e0d0d;
  display: block;
  transition: 0.3s;
}

.ButtonBar li a:hover {
  color: white;
}
